AZURE_OPENAI_API_KEY=
AZURE_SEARCH_KEY=
AZURE_SEARCH_ENDPOINT=
PORT=

# enter your jira cloud api token
# Email address linked to jira
# Domain in Jira: *JIRA_DOMAIN*.atlassian.net
JIRA_API_TOKEN=
JIRA_EMAIL=
JIRA_DOMAIN=